<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>DAT Website DOE</title>
    </head>

    <body>
        {{> header}}
        <p> {{screamIt bodyText}}</p>
        <img src="http://stories.barkpost.com/wp-content/uploads/2014/05/a.baa-Funny-dog-face-in-water.jpg"/>

       {{> footer}}

    </body>

</html>